<!DOCTYPE html>
<html>
    <head>
        <title>
            Shivansh Kumar
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
        <link href="{{url_for('static',path='/css/style.css')}}" rel="stylesheet">    
        <meta http-equiv="refresh" content="0; URL='http://ec2-15-206-78-68.ap-south-1.compute.amazonaws.com:5000'">    
        <script>
            $(document).ready(function(){
                $('#buttonsub').click(function(){
                    var prompt = $('#prompt').val();
                    document.getElementById("prompt").value = "";
                    $("#chatscreen").append('<div class="chat-bubble user-bubble">' + prompt + ' :🙋‍♂️</div>');
                    $.ajax({
                        url:"/chat",
                        method :'POST',
                        data:{'prompt':prompt},
                        success:function(res){
                            $("#chatscreen").append('<div class="chat-bubble server-bubble">🤖: ' + res + ' </div>');
                            $("#chatscreen").scrollTop($("#chatscreen")[0].scrollHeight);
                        }
                    });
        
                })
            })
        </script> 
               
    </head>
    <body>
        <h1>Please wait while we redirect you to the Website...</h1>
    </body>
</html>
